.card-swap-container {
  position: relative;
  perspective: 900px;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0;
  background: white;
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 2px solid black;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@media (max-width: 768px) {

  .card-swap-container {

    transform: scale(0.75) translate(25%, 25%);

  }

}

@media (max-width: 480px) {

  .card-swap-container {

    transform: scale(0.55) translate(25%, 25%);

  }

}
